.article {
    padding-left: 38px;
}

.container-autres-articles  {
    color: white;
    position: relative;
    top: -180px;
    left: -19px;
}

.container-article-principal {
    position: relative;
}