.bouton-par-defaut {
    border-style: none;
    background-color: white;
   
    color: black;
    font-weight: bold;
    line-height: 19px; 
    font-size: 16px;
    letter-spacing: 0.01em;

    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
}

.bouton-jaune {
    background-color: #fed403;
}

.bouton-jaune:hover {
    text-decoration: underline;
    background-color:#febb03 ;
    cursor: pointer;
    transition: 2s;
}