.App {
  width: 100vw;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

.container {
  width: 1017px;
  min-height: 60px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.icon-medium .anticon svg {
  width: 30px;
  height: 30px;
  color: red;
}

.fond-noir {
  background-color: black;
}

.img-small {
  height: 180px;
  width: 313px;
}

.img-large {
  width: 1016px;
  height: 589px;
}

.color-white {
  color: white;
}